@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Work.at.ua - work in Ukraine</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/null_style.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/expanded_style.css" />
    <script>
        function OnSuccessComment(data) {
            alert(data.resultMessage);
        }
        function focusOnInput() {
            $("#bodyContentFormText").focus();
        }
    </script>
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div id="menu">
                <div class="headerLogo">
                    <span class="headerLogoWork">WORK</span><span class="headerLogoUa">.ua</span>
                </div>
                <menu id="headerMenu">
                    <a onclick="focusOnInput()"><li class="headerMenuLi">Find vacancies</li></a>
                    @if (this.Session["Name"] != null)
                    {
                        <a href="~/RegisterResume.aspx"><li class="headerMenuLi">Create resume</li></a>
                    }
                    else
                    {
                        <a href="SignIn.aspx"><li class="headerMenuLi">Create resume</li></a>
                    }
                    <a href="http://www.work.ua"><li class="headerMenuLi">Resources</li></a>
                    @if (this.Session["Name"] != null)
                    {
                        if (this.Session["Role"] == "Employer")
                        {
                            <a href="/Employer"><li class="headerMenuLi" style="text-decoration: underline;">@this.Session["Name"]</li></a>
                        }
                        else
                        {
                            <a href="/Employee"><li class="headerMenuLi" style="text-decoration: underline;">@this.Session["Name"]</li></a>
                        }
                    }
                    else
                    {
                        <a href="SignIn.aspx"><li style="list-style-type: none;"><div id="headerMenuButton">Sign In</div></li></a>
                    }
                </menu>
            </div>
        </header>

        <div id="mainStat">

            <div style="width: 800px;  margin: 0 auto;">
                @if (this.Session["Name"] != null)
                {
                    <div class="sidebarItem"><a href="~/Employer/SearchAgents" style="color: white; text-decoration: none;">Search agents</a></div>
                    <div class="sidebarItem"><a href="~/Employer/Vacancies" style="color: white; text-decoration: none;">Your vacancies</a></div>
                    <div class="sidebarItem"><a href="~/EditEmployer.aspx" style="color: white; text-decoration: none;">Private data</a></div>
                    <div class="sidebarItem"><a href="~/LogOut" style="color: white; text-decoration: none;">Log out</a></div>
                }
                else
                {
                    <div class="sidebarItem"><a href="~/SignIn.aspx" style="color: white; text-decoration: none;">Search agents</a></div>
                    <div class="sidebarItem"><a href="~/SignIn.aspx" style="color: white; text-decoration: none;">Your vacancies</a></div>
                    <div class="sidebarItem"><a href="~/SignIn.aspx" style="color: white; text-decoration: none;">Private data</a></div>
                    <div class="sidebarItem"><a href="~/SignIn.aspx" style="color: white; text-decoration: none;">Log out</a></div>
                }
            </div>
        </div>
        <div>

            <div style="width:700px;margin-left: auto;margin-right: auto;">
                @using (Ajax.BeginForm("Search", new AjaxOptions
                 {
                     Url = Url.Action("SearchAjax"),
                     OnSuccess = "OnSuccessComment",
                     HttpMethod = "POST"
                 }))
                {
                    <input id="bodyContentFormText" placeholder="Request" type="text" name="request" value="@ViewBag.Request" />
                    <select id="bodyContentFormCity" name="city" style="width: 140px;">
                        @if (ViewBag.City == "All Ukraine")
                        {
                            <option selected="selected">All Ukraine</option>
                        }
                        else
                        {
                            <option>All Ukraine</option>
                        }

                        @foreach (string c in ViewBag.Cities)
                        {
                            if (@c == @ViewBag.City)
                            {
                                <option selected="selected">@c</option>
                            }
                            else
                            {
                                <option>@c</option>
                            }
                        }
                    </select>
                    <input id="bodyContentFormSubmit" type="submit" value="Search" />
                }

            </div>



            <div id="bodyVacancies">
                <span id="bodyCountOfVac">@ViewBag.Users.Count resumes</span>

                @foreach (WorkAtUa.Entities.MyUser u in ViewBag.Users)
                {
                    
                    <div class="vacancy">
                        <div style="margin-top: 15px;">
                            <a href="/Employer/Resume/@u.Id" style="text-decoration: none;"><span class="vacancyHeader">@string.Format("{0} {1} {2}", u.Name, u.Surname, u.FathersName)</span></a>
                            <span class="vacancySalary">, @WorkAtUa.DBManager.DbManager.GetResume(u.Id).Salary$</span>
                        </div>
                        <div style="margin-top: 7px;">
                            <span class="vacancyCompany">@u.City</span>
                        </div>
                        <div style="margin-top: 10px;">
                            <span class="vacancyEmployment">@u.Email </span>
                        </div>
                        <div style="margin-top: 10px;">
                            <span class="vacancyEmployment">@WorkAtUa.DBManager.DbManager.GetResume(u.Id).Header </span>
                        </div>
                        <div style="margin-top: 10px;">
                            <span class="vacancyDesc">
                                @WorkAtUa.DBManager.DbManager.GetResume(u.Id).Description
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>


        <footer id="footer" style="margin-top: 20px;">
            <div class="headerLogo">
                <span class="headerLogoWork" style="margin-left: 4%;">WORK</span><span class="headerLogoUa">.ua</span>
            </div>
            <span class="footerExp">&copy;Work.at.ua - Work in Ukraine. Made in Rivne</span>

            <div id="footerLinks">
                <div class="footerItem">
                    <a href="http://www.work.ua" class="footerLink">Work.at.ua</a>
                    <span class="footerLinkExp">Work in Ukraine</span>
                </div>
                <div class="footerItem">
                    <a href="http://www.osvita.com.ua" class="footerLink">Osvita.com.ua</a>
                    <span class="footerLinkExp">Education</span>
                </div>
                <div class="footerItem">
                    <a href="http://www.trn.ua" class="footerLink">TRN.ua</a>
                    <span class="footerLinkExp">Trainings</span>
                </div>
                <div class="footerItem">
                    <a href="http://www.vse10.ru" class="footerLink">Vse10.ru</a>
                    <span class="footerLinkExp">Keybord traning</span>
                </div>
                <div class="footerItem">
                    <a href="http://www.ratatype.com" class="footerLink">Ratatype.com</a>
                    <span class="footerLinkExp">Typing tutor</span>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
